<div class="container mt-4">
  <h3 class="mb-4">Add Student</h3>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

  
    <div class="card mb-4">
<div class="card-header bg-light fw-semibold">
<i class="bi bi-person me-2"></i> Personal Information
</div>
 
  <div class="card-body">
 
   
<div class="d-flex align-items-center gap-3 mb-4">
 
     
<div style="width:100px;height:100px;border:1px dashed #ccc;display:flex;align-items:center;justify-content:center;">
<img *ngIf="studentImage" [src]="studentImage" alt="Student Image"
     style="width:100%;height:100%;object-fit:cover;">
<i *ngIf="!studentImage" class="bi bi-image"></i>
</div>
 
<div>
<input type="file" (change)="onStudentFile($event)">
<button class="btn btn-primary btn-sm me-2" (click)="uploadStudentImage()">Upload</button>
<button class="btn btn-primary btn-sm" (click)="removeStudentImage()">Remove</button>
<div class="text-muted small mt-1">
          Upload image size 4MB, Format JPG, PNG, SVG
</div>
</div>
 
    </div>
 

<div class="row g-3">
 
      <div class="col-md-3">
<label class="form-label">Academic Year</label>
<select class="form-select">
<option>June 2026/27</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">Admission Number</label>
<input class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Admission Date</label>
<input type="date" class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Roll Number</label>
<input class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Status</label>
<select class="form-select"><option>Select</option>
<option>Active</option>
<option>Inactive</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">First Name</label>
<input class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Last Name</label>
<input class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Class</label>
<select class="form-select"><option>Select</option>
<option>Kindergarten</option>
<option>Grade 1</option>
<option>Grade 2</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">Section</label>
<select class="form-select"><option>Select</option>
<option>A</option>
<option>B</option>
<option>C</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">Gender</label>
<select class="form-select"><option>Select</option>
<option>Male</option>
<option>Female</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">Date of Birth</label>
<input type="date" class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Blood Group</label>
<select class="form-select"><option>Select</option>
<option>A+</option>
<option>A-</option>
<option>B+</option>
<option>B-</option>
<option>AB+</option>
<option>AB-</option>
<option>O+</option>
<option>O-</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">House</label>
<select class="form-select"><option>Select</option>
<option>House A</option>
<option>House B</option>
<option>House C</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">Religion</label>
<select class="form-select"><option>Select</option>
<option>Hindu</option>
<option>Islam</option>
<option>Christian</option>
<option>Sikh</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">Category</label>
<select class="form-select"><option>Select</option>
<option>General</option>
<option>OBC</option>
<option>SC</option>
<option>ST</option>
</select>
</div>
 
      <div class="col-md-3">
<label class="form-label">Primary Contact Number</label>
<input class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Email Address</label>
<input class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Caste</label>
<input class="form-control">
</div>
 
      <div class="col-md-3">
<label class="form-label">Mother Tongue</label>
<select class="form-select"><option>Select</option>
<option>English</option>
<option>Hindi</option>
<option>Spanish</option>
</select>
</div>
 
      
<div class="col-md-3">
  <label class="form-label">Language Known</label>

  <div class="form-control d-flex flex-wrap gap-2">

    <span class="badge bg-secondary"
          *ngFor="let lang of languages">

      {{ lang }}

      <i class="bi bi-x"
         style="cursor:pointer"
         (click)="removeLanguage(lang)">
      </i>

    </span>

  </div>
</div>
 
    </div>
 
  </div>
</div>

    
    <div class="card mb-3">
      <div class="card-header">Parents & Guardian Information</div>
      <div class="card p-3 mb-4">
 
  
<h5 class="mb-3">Father's Info</h5>
 
 <div class="d-flex align-items-center gap-3 mb-4">
 
    
<div style="width:100px;height:100px;border:1px dashed #ccc;display:flex;align-items:center;justify-content:center;">
<img *ngIf="fatherImage" [src]="fatherImage" alt="Father Image"
     style="width:100%;height:100%;object-fit:cover;">
<i *ngIf="!fatherImage" class="bi bi-image"></i>
</div>
 
<div>
<input type="file" (change)="onFatherFile($event)">
<button class="btn btn-primary btn-sm me-2" (click)="uploadFatherImage()">Upload</button>
<button class="btn btn-primary btn-sm" (click)="removeFatherImage()">Remove</button>
<div class="text-muted small mt-1">
          Upload image size 4MB, Format JPG, PNG, SVG
</div>
</div>
 
    </div>
 
  <div class="row g-3 mb-4">
<div class="col-md-3"><input class="form-control" placeholder="Father Name"></div>
<div class="col-md-3"><input class="form-control" placeholder="Email"></div>
<div class="col-md-3"><input class="form-control" placeholder="Phone Number"></div>
<div class="col-md-3"><input class="form-control" placeholder="Father Occupation"></div>
</div>
 <hr style="color: rgb(195, 195, 195);">
  
<h5 class="mb-3">Mother's Info</h5>
 
  <div class="d-flex align-items-center gap-3 mb-4">
 
      
<div style="width:100px;height:100px;border:1px dashed #ccc;display:flex;align-items:center;justify-content:center;">
<img *ngIf="motherImage" [src]="motherImage" alt="Mother Image"
     style="width:100%;height:100%;object-fit:cover;">
<i *ngIf="!motherImage" class="bi bi-image"></i>
</div>
 
<div>
<input type="file" (change)="onMotherFile($event)">
<button class="btn btn-primary btn-sm me-2" (click)="uploadMotherImage()">Upload</button>
<button class="btn btn-primary btn-sm" (click)="removeMotherImage()">Remove</button>
<div class="text-muted small mt-1">
          Upload image size 4MB, Format JPG, PNG, SVG
</div>
</div>
 
    </div>
 
  <div class="row g-3 mb-4">
<div class="col-md-3"><input class="form-control" placeholder="Mother Name"></div>
<div class="col-md-3"><input class="form-control" placeholder="Email"></div>
<div class="col-md-3"><input class="form-control" placeholder="Phone Number"></div>
<div class="col-md-3"><input class="form-control" placeholder="Mother Occupation"></div>
</div>
 
 <hr style="color: rgb(195, 195, 195);">
<h5 class="mb-3">Guardian Details</h5>
 
  <div class="mb-3">
<label class="me-3">If Guardian is:</label>
<input type="radio" name="guardian"> Parents
<input type="radio" name="guardian" class="ms-2"> Guardian
<input type="radio" name="guardian" class="ms-2"> Others
</div>
 
  <div class="d-flex align-items-center gap-3 mb-4">
 
     
<div style="width:100px;height:100px;border:1px dashed #ccc;display:flex;align-items:center;justify-content:center;">
<img *ngIf="guardianImage" [src]="guardianImage" alt="Guardian Image"
     style="width:100%;height:100%;object-fit:cover;">
<i *ngIf="!guardianImage" class="bi bi-image"></i>
</div>
 
<div>
<input type="file" (change)="onGuardianFile($event)">
<button class="btn btn-primary btn-sm me-2" (click)="uploadGuardianImage()">Upload</button>
<button class="btn btn-primary btn-sm" (click)="removeGuardianImage()">Remove</button>
<div class="text-muted small mt-1">
          Upload image size 4MB, Format JPG, PNG, SVG
</div>
</div>
 
    </div>
  <div class="row g-3">
<div class="col-md-3"><input class="form-control" placeholder="Guardian Name"></div>
<div class="col-md-3"><input class="form-control" placeholder="Guardian Relation"></div>
<div class="col-md-3"><input class="form-control" placeholder="Phone Number"></div>
<div class="col-md-3"><input class="form-control" placeholder="Email"></div>
 
    <div class="col-md-3"><input class="form-control" placeholder="Occupation"></div>
<div class="col-md-3"><input class="form-control" placeholder="Address"></div>
</div>
 
</div>
    </div>

   
<div class="card mb-4">
<div class="card-header bg-light fw-semibold">Siblings</div>
<div class="card-body">
 
    <div class="mb-3">
  <label class="me-3">Is Sibling studying in same school</label>

  <input 
    type="radio" 
    formControlName="hasSiblings" 
    value="yes"> Yes

  <input 
    type="radio" 
    formControlName="hasSiblings" 
    value="no" 
    class="ms-3"> No
</div>
 
 <div formArrayName="siblings"
     *ngIf="studentForm.get('hasSiblings')?.value === 'yes'">

  <div *ngFor="let sib of siblings.controls; let i = index"
       [formGroupName]="i"
       class="d-flex align-items-center gap-3 mb-3">

    <input formControlName="name" placeholder="Name">
    <input formControlName="rollNo" placeholder="Roll No">
    <input formControlName="admissionNo" placeholder="Admission No">
    <input formControlName="class" placeholder="Class">

    <button type="button" (click)="removeSibling(i)">
      <i class="bi bi-trash"></i>
    </button>

  </div>
</div>



 
<button 
  class="btn btn-primary btn-sm" 
  (click)="addSibling()"
  [disabled]="studentForm.get('hasSiblings')?.value !== 'yes'">
  + Add New
</button>
 
  </div>
</div>
 

<div class="card mb-4">
<div class="card-header bg-light fw-semibold">Address</div>
<div class="card-body row g-3">
 
    <div class="col-md-6">
<input class="form-control" placeholder="Current Address">
</div>
 
    <div class="col-md-6">
<input class="form-control" placeholder="Permanent Address">
</div>
 
  </div>
</div>
 

<div class="card mb-4">
<div class="card-header bg-light d-flex justify-content-between">
<span class="fw-semibold">Transport Information</span>
<input type="checkbox" class="form-check-input">
</div>
 
  <div class="card-body row g-3">
<div class="col-md-4">
<select class="form-select"><option>Select</option>
<option> Route 1</option>
<option> Route 2</option>
</select>
</div>
<div class="col-md-4">
<select class="form-select"><option>Select</option>
<option> Vehicle 1</option>
<option> Vehicle 2</option>
</select>
</div>
<div class="col-md-4">
<select class="form-select"><option>Select</option>
<option> Pickup Point A</option>
<option> Pickup Point B</option>
</select>
</div>
</div>
</div>
 

<div class="card mb-4">
<div class="card-header bg-light d-flex justify-content-between">
<span class="fw-semibold">Hostel Information</span>
<input type="checkbox" class="form-check-input">
</div>
 
  <div class="card-body row g-3">
<div class="col-md-6">
<select class="form-select"><option>Select</option>
<option> Hostel A</option>
<option> Hostel B</option>
    </select>
</div>
<div class="col-md-6">
<select class="form-select"><option>select</option>
<option> 1</option>
<option> 2</option>
<option> 3</option> 

</select>
</div>
</div>
</div>
 

<div class="card mb-4">
  <div class="card-header bg-light fw-semibold">Documents</div>

  <div class="card-body row g-4">

    
    <div class="col-md-6">
      <label class="fw-semibold">Medical Report</label>

      <div class="small text-muted mb-2">
        Upload PDF / Image (Max 4MB)
      </div>

      <input type="file"
             #medicalInput
             hidden
             (change)="onMedicalReportFile($event)">

      <button type="button"
              class="btn btn-success btn-sm"
              (click)="openMedicalPicker(medicalInput)">
        Upload Medical Report
      </button>

      <div class="mt-2" *ngIf="medicalReportName">
        <i class="bi bi-file-earmark me-2"></i> {{ medicalReportName }}
      </div>

      <div *ngIf="medicalReportFile" class="mt-2">
        <a [href]="medicalReportFile" target="_blank">View File</a>
      </div>
    </div>

    
    <div class="col-md-6">
      <label class="fw-semibold">Transfer Certificate / Document</label>

      <div class="small text-muted mb-2">
        Upload PDF / Image (Max 4MB)
      </div>

      <input type="file"
             #docInput
             hidden
             (change)="onDocumentFile($event)">

      <button type="button"
              class="btn btn-primary btn-sm"
              (click)="openDocumentPicker(docInput)">
        Upload Document
      </button>

      <div class="mt-2" *ngIf="documentName">
        <i class="bi bi-file-earmark me-2"></i> {{ documentName }}
      </div>

      <div *ngIf="documentFile" class="mt-2">
        <a [href]="documentFile" target="_blank">View File</a>
      </div>
    </div>

  </div>
</div>
   
<div class="card mb-4">
<div class="card-header bg-light fw-semibold">
<i class="bi bi-gear me-2"></i> Medical History
</div>
 
  <div class="card-body">
 
    
<div class="mb-3">
<label class="fw-semibold d-block mb-2">Medical Condition</label>
 
      <label class="me-3">
<input type="radio" name="condition" checked> Good
</label>
 
      <label class="me-3">
<input type="radio" name="condition"> Bad
</label>
 
      <label>
<input type="radio" name="condition"> Others
</label>
</div>
 
  
<div class="mb-3">
<label class="fw-semibold d-block mb-2">Allergies</label>
 
      <div class="form-control d-flex flex-wrap gap-2">
<span class="badge bg-secondary"
          *ngFor="let allergy of allergies">

      {{allergy}}

      <i class="bi bi-x"
         style="cursor:pointer"
         (click)="removeAllergy(allergy)">
      </i>

    </span>
    

</div>
</div>
 

<div>
<label class="fw-semibold d-block mb-2">Medications</label>
 
      <div class="form-control d-flex flex-wrap gap-2">
<span class="badge bg-secondary"
          *ngFor="let med of medications">

      {{ med }}

      <i class="bi bi-x"
         style="cursor:pointer"
         (click)="removeMedication(med)">
      </i>

    </span>
</div>
</div>
 
  </div>
</div>
 

<div class="card mb-4">
<div class="card-header bg-light fw-semibold">
<i class="bi bi-building me-2"></i> Previous School Details
</div>
 
  <div class="card-body row g-3">
 
    <div class="col-md-6">
<label class="fw-semibold">School Name</label>
<input class="form-control">
</div>
 
    <div class="col-md-6">
<label class="fw-semibold">Address</label>
<input class="form-control">
</div>
 
  </div>
</div>
 

<div class="card mb-4">
<div class="card-header bg-light fw-semibold">
<i class="bi bi-bank me-2"></i> Other Details
</div>
 
  <div class="card-body row g-3">
 
    <div class="col-md-4">
<label class="fw-semibold">Bank Name</label>
<input class="form-control">
</div>
 
    <div class="col-md-4">
<label class="fw-semibold">Branch</label>
<input class="form-control">
</div>
 
    <div class="col-md-4">
<label class="fw-semibold">IFSC Number</label>
<input class="form-control">
</div>
 
    <div class="col-md-12">
<label class="fw-semibold">Other Information</label>
<textarea class="form-control" rows="3"></textarea>
</div>
 
  </div>
</div>
 

<div class="d-flex justify-content-end gap-2 mb-4">
<button class="btn btn-light" (click)="resetForm()">Cancel</button>
<button class="btn btn-primary" (click)="onSubmit()">Add Student</button>
</div>
    </form>
</div>
