 <main class="flex-grow-1 main-content">
      
      <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>Admin Dashboard</h4>
        <div class="d-flex gap-2">
        <button class="btn btn-primary btn-sm">Add New Student</button>
         <button type="button" class="btn btn-light">Fee Details</button>
      </div>
      </div>

      
      <div class="alert alert-success">
        Fahed II has paid Fees for the Term1
      </div>

      
      <div class="card bg-black text-white mb-4">
        <div class="card-body">
          <h5 class="card-title">Welcome Back, miss.{{name}}</h5>
          <p class="card-text">Have a Good day at work</p>
        </div>
      </div>

      <div class="container py-4">
  <div class="row g-4">

    <div class="col-md-6">
      <div class="card shadow-sm border-0 rounded-4 p-3">
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex gap-3">
            <div class="bg-primary-subtle text-primary d-flex align-items-center justify-content-center rounded-3" style="width:60px;height:60px;">
                <img src="https://img.freepik.com/premium-vector/graduation-cap-logo-vector_414847-517.jpg?w=826" alt="Students" width="40" height="40"/>
            </div>
            <div>
              <h4 class="mb-0 fw-bold">3654</h4>
              <small class="text-muted">Total Students</small>
            </div>
          </div>
          <span class="badge bg-danger rounded-pill">1.2%</span>
        </div>

        <hr>

        <div class="d-flex justify-content-between text-muted">
          <span>Active : <strong class="text-dark">3643</strong></span>
          
          <span>Inactive : <strong class="text-dark">11</strong></span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm border-0 rounded-4 p-3">
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex gap-3">
            <div class="bg-info-subtle text-info d-flex align-items-center justify-content-center rounded-3" style="width:60px;height:60px;">
              <img src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png" alt="Teachers" width="50" height="50"/>
            </div>
            <div>
              <h4 class="mb-0 fw-bold">284</h4>
              <small class="text-muted">Total Teachers</small>
            </div>
          </div>
          <span class="badge bg-info rounded-pill">1.2%</span>
        </div>

        <hr>

        <div class="d-flex justify-content-between text-muted">
          <span>Active : <strong class="text-dark">254</strong></span>
         
          <span>Inactive : <strong class="text-dark">30</strong></span>
        </div>
      </div>
    </div>

    
    <div class="col-md-6">
      <div class="card shadow-sm border-0 rounded-4 p-3">
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex gap-3">
            <div class="bg-warning-subtle text-warning d-flex align-items-center justify-content-center rounded-3" style="width:60px;height:60px;">
                 <img src="https://www.clipartmax.com/png/middle/69-698625_staff-logo-people-png.png" alt="Staff" width="40" height="40"/>               
            </div>
            <div>
              <h4 class="mb-0 fw-bold">162</h4>
              <small class="text-muted">Total Staff</small>
            </div>
          </div>
          <span class="badge bg-warning text-dark rounded-pill">1.2%</span>
        </div>

        <hr>

        <div class="d-flex justify-content-between text-muted">
          <span>Active : <strong class="text-dark">161</strong></span>
        
          <span>Inactive : <strong class="text-dark">02</strong></span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm border-0 rounded-4 p-3">
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex gap-3">
            <div class="bg-success-subtle text-success d-flex align-items-center justify-content-center rounded-3" style="width:60px;height:60px;">
              <img src="https://clipart-library.com/images_k/school-books-transparent/school-books-transparent-17.png" alt="Subjects" width="50" height="50"/>
            </div>
            <div>
              <h4 class="mb-0 fw-bold">82</h4>
              <small class="text-muted">Total Subjects</small>
            </div>
          </div>
          <span class="badge bg-success rounded-pill">1.2%</span>
        </div>

        <hr>

        <div class="d-flex justify-content-between text-muted">
          <span>Active : <strong class="text-dark">81</strong></span>
          
          <span>Inactive : <strong class="text-dark">01</strong></span>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container py-4">
  <div class="row g-4">

   
    <div class="col-md-6">
      <div class="card p-3">
        <div class="container py-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Schedules</h5>
    <button class="btn btn-sm btn text-primary">+ Add New</button>
  </div>

 
  <div class="card shadow-sm">
    <div class="card-body">

   
      <div class="d-flex justify-content-between align-items-center mb-5">
        <button class="btn btn-sm btn-outline-secondary">&lt;</button>
        <h6 class="mb-0">April 2026</h6>
        <button class="btn btn-sm btn-outline-secondary">&gt;</button>
      </div>

     
      <div class="row text-center fw-semibold mb-2">
        <div class="col">Su</div>
        <div class="col">Mo</div>
        <div class="col">Tu</div>
        <div class="col">We</div>
        <div class="col">Th</div>
        <div class="col">Fr</div>
        <div class="col">Sa</div>
      </div>

      
      <div class="row text-center mb-2">
        <div class="col text-muted">29</div>
        <div class="col text-muted">30</div>
        <div class="col text-muted">31</div>
        <div class="col">1</div>
        <div class="col">2</div>
        <div class="col">3</div>
        <div class="col">4</div>
      </div>

    
      <div class="row text-center mb-2">
        <div class="col">5</div>
        <div class="col">6</div>
        <div class="col">
          <button class="btn btn-primary btn-sm w-100">7</button>
        </div>
        <div class="col">8</div>
        <div class="col">9</div>
        <div class="col">10</div>
        <div class="col">11</div>
      </div>

     
      <div class="row text-center mb-2">
        <div class="col">12</div>
        <div class="col">13</div>
        <div class="col">14</div>
        <div class="col">15</div>
        <div class="col">16</div>
        <div class="col">17</div>
        <div class="col">18</div>
      </div>

      
      <div class="row text-center mb-2">
        <div class="col">19</div>
        <div class="col">20</div>
        <div class="col">21</div>
        <div class="col">22</div>
        <div class="col">23</div>
        <div class="col">24</div>
        <div class="col">25</div>
      </div>

      
      <div class="row text-center">
        <div class="col">26</div>
        <div class="col">27</div>
        <div class="col">28</div>
        <div class="col">29</div>
        <div class="col">30</div>
        <div class="col text-muted">1</div>
        <div class="col text-muted">2</div>
      </div>

      <div class="row text-center">
        <div class="col  text-muted">3</div>
        <div class="col  text-muted">4</div>
        <div class="col  text-muted">5</div>
        <div class="col  text-muted">6</div>
        <div class="col  text-muted">7</div>
        <div class="col text-muted">8</div>
        <div class="col text-muted">9</div>
      </div>


    </div>

  </div>
<div class="card shadow-sm border-0 rounded-4 p-3 mt-4">
  <h5 class="mb-3 fw-bold">Upcoming Events</h5>

  <div *ngFor="let event of events" class="event-item d-flex mb-3">
    
    <div class="event-line me-3" [ngClass]="event.color"></div>

    
    <div class="flex-grow-1">
      
     
      <div class="d-flex justify-content-between align-items-start">
        
      
        <div class="d-flex gap-2 align-items-start">
          <div class="event-icon bg-light rounded-3 d-flex justify-content-center align-items-center">
            <i class="bi bi-calendar2-event text-primary"></i>
          </div>

          <div>
            <h6 class="mb-1 fw-semibold">{{ event.title }}</h6>
            <small class="text-muted">
              <i class="bi bi-calendar"></i>
              {{ event.date }}
            </small>
          </div>
        </div>

      
        <div class="avatar-group">
          <img *ngFor="let img of event.users" [src]="img" class="avatar" style="height: 20px; width: 20px; border-radius: 50%;" />
        </div>
      </div>

      
      <hr class="my-2">

     
      <small class="text-muted">
        <i class="bi bi-clock"></i>
        {{ event.time }}
      </small>
    </div>
  </div>
</div>
</div>
      </div>
      </div>

    
    <div class="col-md-6">
      <div class="card p-3">
        <div class="d-flex justify-content-between mb-3">
          <h5>Attendance</h5>
          <span class="text-muted small">  &#128197; Today <i class="bi bi-chevron-down"></i></span>
        </div>

       
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item" *ngFor="let tab of tabs">
            <a
              class="nav-link"
              [class.active]="tab === activeTab"
              (click)="activeTab = tab">
              {{ tab }}
            </a>
          </li>
        </ul>

        
        <div class="row text-center mb-3">
          <div class="col" *ngFor="let stat of stats">
            <div class="stat-box">
              <h6>{{ stat.value }}</h6>
              <small>{{ stat.label }}</small>
            </div>
          </div>
        </div>
        <div style="width: 400PX; height: 200px; margin: 0 auto; justify-content: center; align-items: center;display: block;">
          <canvas #attendanceChart ></canvas>
        </div>

        <div class="text-center mt-1">
          <button class="btn btn-light">View All</button>
        </div>
      </div>
      <div class="container py-5">
  <div class="row g-4">

    
    <div class="col-md-6">
      <div class="bg-success text-white rounded-4 text-center p-4 h-100 position-relative">

        <div class="opacity-25 fs-1 position-absolute top-0 start-0 p-3 ">
          <i class="bi bi-stars"></i>
        </div>

        <p class="small mb-1">Best Performer</p>
        <h4 class="fw-bold mb-1">Rubell</h4>
        <p class="mb-3">Physics Teacher</p>

        <div class="d-flex justify-content-center gap-2 my-3">
          <button class="btn btn-light rounded-circle">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button class="btn btn-light rounded-circle">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>

        <img src="../../assets/arab-female-teacher-holding-books-260nw-2655714111-removebg-preview.png " style="width: 500px; height: 150px;"
             class="img-fluid mt-3"
             alt="Teacher">

      </div>
    </div>

   
    <div class="col-md-6">
      <div class="bg-primary text-white rounded-4 text-center p-4 h-100 position-relative">

        <div class="opacity-25 fs-1 position-absolute top-0 start-0 p-3">
          <i class="bi bi-star"></i>
        </div>

        <p class="small mb-1">Star Students</p>
        <h4 class="fw-bold mb-1">Tenesa</h4>
        <p class="mb-3">XII, A</p>

        <div class="d-flex justify-content-center gap-2 my-3">
          <button class="btn btn-light rounded-circle">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button class="btn btn-light rounded-circle">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>

        <img src="../../assets/student_image-removebg-preview.png" style="width: 500px; height: 150px;"
             class="img-fluid mt-3"
             alt="Student">

      </div>
    </div>

  </div>
</div>
    </div>

  </div>
  
</div>
<div class=" card container mt-4 shadow-sm p-3 mb-5 bg-white rounded-4">
  <h5 class="fw-bold mb-3">Quick Links</h5>
<hr>
  <div class="row g-3">
    <div class="col-md-4" *ngFor="let item of quickLinks">
      <div class="card border-0 text-center h-100 shadow-sm"
           [ngClass]="item.bg">

        <div class="card-body d-flex flex-column justify-content-center align-items-center">

          <div class="rounded-circle bg-white d-flex justify-content-center align-items-center mb-2"
               style="width:50px; height:50px;">
            <i class="{{ item.icon }} fs-5"></i>
          </div>

          <div class="fw-semibold">{{ item.label }}</div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">

 
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Class Routine</h5>
      <button class="btn btn-sm btn-primary">Add New</button>
    </div>

    <div class="card-body">

   
      <div class="d-flex align-items-center mb-3">
        <img src="https://static.vecteezy.com/system/resources/previews/011/054/518/original/daily-routine-button-daily-routine-colorful-label-sign-template-speech-bubble-vector.jpg" class="rounded me-3" alt="" style="width: 35px; height: 35px;">
        <div class="w-100">
          <small>Oct 2024</small>
          <div class="progress">
            <div class="progress-bar bg-primary" style="width: 80%"></div>
          </div>
        </div>
      </div>

  
      <div class="d-flex align-items-center mb-3">
        <img src="https://static.vecteezy.com/system/resources/previews/011/054/518/original/daily-routine-button-daily-routine-colorful-label-sign-template-speech-bubble-vector.jpg" class="rounded me-3" alt="" style="width: 35px; height: 35px;">
        <div class="w-100">
          <small>Nov 2024</small>
          <div class="progress">
            <div class="progress-bar bg-warning" style="width: 75%"></div>
          </div>
        </div>
      </div>

     
      <div class="d-flex align-items-center">
        <img src="https://static.vecteezy.com/system/resources/previews/011/054/518/original/daily-routine-button-daily-routine-colorful-label-sign-template-speech-bubble-vector.jpg" class="rounded me-3" alt=""style="width: 35px; height: 35px;">
        <div class="w-100">
          <small>Dec 2024</small>
          <div class="progress">
            <div class="progress-bar bg-success" style="width: 78%"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

 
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Performance</h5>
      <select class="form-select form-select-sm w-auto">
        <option>Class II</option>
        <option>Class III</option>
      </select>
    </div>

    <div class="card-body">
      <div class="row align-items-center">

        <div class="col-md-6">
          <ul class="list-group list-group-flush">

            <li class="list-group-item d-flex justify-content-between">
              <span>Top</span>
              <strong>45</strong>
            </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Average</span>
              <strong>11</strong>
            </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Below Avg</span>
              <strong>02</strong>
            </li>

          </ul>
        </div>

        
 <div class="col-md-6 text-center">
  <div class="d-flex align-items-center justify-content-center">
    <svg width="150" height="150" viewBox="0 0 42 42" class="rounded-circle">
      
      
      <circle cx="21" cy="21" r="15.915"
              fill="transparent"
              stroke="#e9ecef"
              stroke-width="5"></circle>

      
      <circle cx="21" cy="21" r="15.915"
              fill="transparent"
              stroke="#0d6efd"
              stroke-width="5"
              stroke-dasharray="70 30"
              stroke-dashoffset="0"></circle>

      
      <circle cx="21" cy="21" r="15.915"
              fill="transparent"
              stroke="#ffc107"
              stroke-width="5"
              stroke-dasharray="20 80"
              stroke-dashoffset="-70"></circle>

      
      <circle cx="21" cy="21" r="15.915"
              fill="transparent"
              stroke="#dc3545"
              stroke-width="5"
              stroke-dasharray="5 95"
              stroke-dashoffset="-90"></circle>

    </svg>
  </div>
</div>

      </div>
    </div>
  </div>

</div>
<div class="container py-4">

  <div class="row g-4">

  
    <div class="col-lg-8">
      <div class="card p-3">
        <div class="d-flex justify-content-between mb-3">
          <h6>Fees Collection</h6>
          <small class="text-muted">Last 8 Quarter </small>
        </div>

        <div style="height: 220px;">
          <canvas #feesChart></canvas>
        </div>
      </div>
    </div>

   
    <div class="col-lg-4">
      <div class="card p-3">
        <div class="d-flex justify-content-between mb-3">
          <h6>Leave Requests</h6>
          <small class="text-muted">Today</small>
        </div>

        <div *ngFor="let user of leaveRequests" class="border rounded p-2 mb-3 d-flex justify-content-between align-items-center">

          <div class="d-flex align-items-center">
            <img [src]="user.image" width="40" class="rounded me-2">

            <div>
              <div class="fw-semibold">
                {{user.name}}
                <span class="badge ms-1"
                      [ngClass]="{
                        'bg-danger': user.type === 'Emergency',
                        'bg-warning text-dark': user.type === 'Casual'
                      }">
                  {{user.type}}
                </span>
              </div>

              <div class="small text-muted">{{user.role}}</div>
              <div class="small text-muted">Leave: {{user.leave}}</div>
            </div>
          </div>

          <div>
            <button class="btn btn-success btn-sm me-1">
              <i class="bi bi-check"></i>
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="bi bi-x"></i>
            </button>
          </div>

        </div>

      </div>
    </div>

  </div>

  
  

</div>
<div class="container-fluid p-4">

  
  <div class="row g-3 mb-4">
    <div class="col-md-3">
      <div class="card bg-warning-subtle">
        <div class="card-body d-flex justify-content-between align-items-center">
          <span style="background-color: rgb(222, 175, 21);padding: 20px;"><i class="bi-calendar-check" style="color: white; "></i></span>
          <span>View Attendance</span>
          <button class="btn btn-light btn-sm">&gt;</button>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card bg-success-subtle">
        <div class="card-body d-flex justify-content-between align-items-center">
          <span style="background-color: rgb(25, 135, 84);padding: 20px;"><i class="bi-megaphone" style="color: white; width: 50px;height: 50px;"></i></span>
          <span>New Events</span>
          <button class="btn btn-light btn-sm">&gt;</button>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card bg-danger-subtle">
        <div class="card-body d-flex justify-content-between align-items-center">
          <span style="background-color: rgb(220, 53, 69);padding: 20px;"><i class="bi-credit-card" style="color: white; width: 50px;height: 50px;"></i></span>
          <span>Membership Plans</span>
          <button class="btn btn-light btn-sm">&gt;</button>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card bg-info-subtle">
        <div class="card-body d-flex justify-content-between align-items-center">
          <span style="background-color: rgb(13, 110, 253);padding: 20px;"><i class="bi-person" style="color: white; width: 150px;height: 50px;"></i></span>
          <span>Finance & Accounts</span>
          <button class="btn btn-light btn-sm">&gt;</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-4">

   
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h6>Total Earnings</h6>
          <h4>$64,522.24</h4>

         
          <canvas #earningsChart style="height: 92px;" ></canvas>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h6>Total Expenses</h6>
          <h4>$60,522.24</h4>
          <!-- <i class="add"></i> -->

          
          <canvas #expensesChart style="height: 92px;"></canvas>
        </div>
      </div>
    </div>

   
    <div class="col-md-4">

      <div class="card mb-3">
        <div class="card-body d-flex justify-content-between">
          <div>
            <small>Total Fees Collected</small>
            <h5>$25,000.02</h5>
          </div>
          <span style="background-color: rgb(218, 248, 206); height: fit-content; color: green;">+1.2%</span>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body d-flex justify-content-between">
          <div>
            <small>Fine Collected till date</small>
            <h5>$4,56.64</h5>
          </div>
          <span  style=" background-color: rgb(244, 194, 194); height: fit-content; color: crimson; ">-1.2%</span>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body d-flex justify-content-between">
          <div>
            <small>Student Not Paid</small>
            <h5>$545</h5>
          </div>
          <span  style=" background-color: rgb(206, 247, 248); height: fit-content; color:blue;">+1.2%</span>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <div>
            <small>Total Outstanding</small>
            <h5>$4,56.64</h5>
          </div>
          <span  style=" background-color: rgb(244, 194, 194); height: fit-content; color: crimson; ">-1.2%</span>
        </div>
      </div>

    </div>

  </div>

</div>
<div class="container-fluid p-3">

  <!-- Notice Board -->
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
      <strong>Notice Board</strong>
      <a href="#">View All</a>
    </div>

    <div class="list-group list-group-flush">

      <div class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let notice of notices">
        <div class="d-flex gap-3">
          <div class="icon-circle bg-light">
            <i class="bi bi-file-earmark-text"></i>
          </div>
          <div>
            <div class="fw-semibold">{{ notice.title }}</div>
            <small class="text-muted">Added on : {{ notice.date }}</small>
          </div>
        </div>
        <span class="badge bg-light text-dark">{{ notice.days }} Days</span>
      </div>

    </div>
  </div>

  <!-- Middle Section -->
  <div class="row g-3">

    <!-- Top Subjects -->
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <strong>Top Subjects</strong>
          <span class="text-muted">Class III</span>
        </div>

        <div class="card-body">

          <div class="alert alert-success py-2">
            These Result are obtained from the syllabus completion on the respective Class
          </div>

          <div *ngFor="let subject of subjects" class="mb-3">
            <div class="d-flex justify-content-between">
              <small>{{ subject.name }}</small>
            </div>
            <div class="progress" style="height:6px;">
              <div class="progress-bar"
                   [style.width.%]="subject.value"
                   [ngClass]="subject.color">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Student Activity -->
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <strong>Student Activity</strong>
          <span class="text-muted">This Month</span>
        </div>

        <div class="card-body">

          <div *ngFor="let activity of activities" class="activity-item d-flex align-items-center mb-3">
            <img [src]="activity.image" class="rounded me-3" width="45" height="45">
            <div>
              <div class="fw-semibold">{{ activity.title }}</div><br>
              <small class="text-muted">{{ activity.desc }}</small>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- Todo -->
  <div class="card mt-3">
    <div class="card-header d-flex justify-content-between">
      <strong>Todo</strong>
      <span class="text-muted">Today</span>
    </div>

    <div class="list-group list-group-flush">

      <div *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <input type="checkbox" class="form-check-input me-2">
          <span [class.text-decoration-line-through]="task.completed">{{ task.title }}</span>
          <div><small class="text-muted">{{ task.time }}</small></div>
        </div>

        <span class="badge"
              [ngClass]="{
                'bg-success': task.status === 'Completed',
                'bg-info': task.status === 'Inprogress',
                'bg-warning text-dark': task.status === 'Yet To Start'
              }">
          {{ task.status }}
        </span>
      </div>

    </div>
  </div>

</div>

 </main>